{% load static %}
<div class="card">
    <div class="top">
        <div class="userDetails">
            <a href="{% url 'profile-details' photo.user.pk %}">
                <div class="profilepic">
                    <div class="profile_img">
                        <div class="image">
                            {% if photo.user.profile.profile_picture %}
                                <img src="{{ photo.user.profile.profile_picture.url }}" alt="profile">
                            {% else %}
                                <img src="{% static 'images/person.png' %}" alt="profile">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>

            <h3>
                {{ photo.user.profile.full_name|default:'anonymous' }}
                <br>
                <span>{{ photo.location }}</span>
            </h3>

            <!-- 🔴 EDIT / DELETE (само за собственика) -->
            {% if request.user == photo.user %}
            <div class="postActions">
                <a href="{% url 'photo-edit' photo.pk %}" class="edit-btn">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </div>
            <div class="postActions">
                <a href="{% url 'photo-delete' photo.pk %}" class="delete-btn">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
            {% endif %}
            <!-- 🔴 КРАЙ -->
        </div>
    </div>

    <!-- Post image -->
    <div class="imgBx" id="{{ photo.pk }}">
        <a href="{% url 'photo-details' pk=photo.pk %}">
            <img src="{{ photo.photo.url }}" alt="post" class="cover">
        </a>
    </div>

    <div class="bottom">
        <div class="actionBtns">
            <div class="left">
                <span class="heart">
                    <a href="{% url 'like-photo' photo_id=photo.pk %}">
                        {% if photo.like_set.count %}
                            <i class="fa-solid fa-heart" style="color: #ed4040;"></i>
                        {% else %}
                            <i class="fa-regular fa-heart"></i>
                        {% endif %}
                    </a>
                </span>

                <a href="{% url 'share-photo' photo.pk %}">
                    <i class="fa-solid fa-share"></i>
                </a>
            </div>
        </div>

        <p class="likes">{{ photo.like_set.count }} likes</p>

        <a href="{% url 'photo-details' pk=photo.pk %}">
            <h4 class="details">See details</h4>
        </a>

        <h5 class="postTime">{{ photo.date_of_publication }}</h5>

        {% if comments %}
            {% include 'common/comments.html' %}
        {% endif %}

        <!-- Add comment -->
        <div class="addComments">
            <form method="post" action="{% url 'add-comment' photo.id %}">
                {% csrf_token %}
                {{ comment_form.text }}
                <button type="submit">Post</button>
            </form>
        </div>
    </div>
</div>